@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.mentor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  padding: 1rem 1rem;
}

.mentor-header {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.mentor-title {
  color: var(--primaryBlue);
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
  margin: 0 0;
}

.mentor-info-box {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mentor-subtitle1 {
  color: var(--primaryBlue);
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  margin: 10px 20px;
}

.mentor-subtitle2 {
  color: var(--primaryRed);
  font-weight: normal;
  font-size: 2rem;
  text-align: center;
  margin: 10px 0;
}